<tr>
    <td>
       <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
          <tr>
             <td height="40" colspan="3">&nbsp;</td>
          </tr>
          <tr>
             <td width="25">&nbsp;</td>
             <td>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                         <td>
                            <p style="font-family: 'Montserrat', sans-serif; color:#191919; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                               <strong>Dear #FirstName, </strong></p>
                            <p style="font-family: 'Montserrat', sans-serif; color:#191919; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                               <strong>Thank You for raising a request. Your request has been created. </strong></p>
                            <p style="font-family: 'Montserrat', sans-serif; color:#191919; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                               Our DA Team will assign your request to concerned person and He/She will reach out to you</p>
                            <ul>
                               <li style="font-family: 'Montserrat', sans-serif; color:#191919; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                                  Your ticket id is: <b>#user_email</b></li>
                               <li style="font-family: 'Montserrat', sans-serif; color:#191919; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                                  Please check the status of the ticket in the website </li>
                            </ul>
                         </td>
                      </tr>
                      <tr>
                         <td height="5" colspan="3">&nbsp;</td>
                      </tr>
                      <tr>
                         <td  colspan="3">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" width="100%">
                               <tbody>
                                  <tr>
                                     <td align="left">
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#34495E">
                                           <tbody>
                                              <tr>
                                                 <td>&nbsp;</td>
                                                 <td align="center" valign="middle" height="30" width="200"> <a href="#url_to_activate" target="_blank" title="View More" style="font-family: 'Montserrat', sans-serif; color:#fff; font-size:14px; font-weight:300; line-height:24px;text-align:center; text-decoration:none;">
                                                    DA REQUESTS</a> </td>
                                                 <td>&nbsp;</td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </td>
                      </tr>
                      <tr>
                         <td height="5" colspan="3">&nbsp;</td>
                      </tr>
                      <tr>
                         <td>
                            <p style="font-family: 'Montserrat', sans-serif; color:#191919; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                               If you're having trouble in tracking the status of the Ticket, Please reach out to the Data Analytics Team </p>
                            <p style="font-family: 'Montserrat', sans-serif; color:#0000ff; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                               #url_to_activate
                               </p>
                         </td>
                      </tr>
                  </table>
             </td>
             <td width="25">&nbsp;</td>
          </tr>
          <tr>
             <td height="40" colspan="3">&nbsp;</td>
          </tr>
       </table>
    </td>
 </tr>
 <tr>
    <td>
       <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#34495E">
          <tr>
             <td height="40" colspan="3">&nbsp;</td>
          </tr>
          <tr>
             <td width="25">&nbsp;</td>
             <td align="left">
             	<table role="presentation" border="0" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td>
                         <p style="font-family: 'Montserrat', sans-serif; color:#fff; font-size:14px; font-weight:300; line-height:24px;text-align:left">
                            Please do not reply to this email. Unfortunately, we are unable to respond to inquiries sent to this address. For immediate answers to your questions, send an email to naveen.andey@mediamint.com, or    
                         </p>
                        </td>
                    </tr>
                    <tr>
                      <td height="5" colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                     <td  colspan="3">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" width="100%">
                           <tbody>
                              <tr>
                                 <td align="left">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#fff">
                                       <tbody>
                                          <tr>
                                             <td>&nbsp;</td>
                                             <td align="center" valign="middle" height="30" width="150"> 
                                                <a href="#website_link" target="_blank" title="View More" style="font-family: 'Montserrat', sans-serif; color:#000; font-size:14px; font-weight:300; line-height:24px;text-align:center; text-decoration:none;">
                                                 Visit Our Website
                                                 </a> 
                                              </td>
                                             <td>&nbsp;</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                </table>
             </td>
             <td width="25">&nbsp;</td>
          </tr>
          <tr>
             <td height="40" colspan="3">&nbsp;</td>
          </tr>
       </table>
    </td>
 </tr>